---
---

@import "{{ site.theme }}";

nav {
    text-align:center;
}

nav li {
    display:inline;
}

nav a {
    text-decoration:none;
    padding:0 30px; /* variable width */
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #1E90FF;
}
a.menu {
    color: #999;
}
a.blogListTitle {
    color: #222222;
}
a:hover {
    text-decoration: underline;
}
h1 {
    //font-size: xx-large;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: medium;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: small solid #d5d5d5;
    font-size: small;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: medium;
}

ul.posts li {
    list-style: none;
}
